h1 {
   text-align: center;
}

#red {
   margin-top: 40px;
   background-color: red;
}
#green {
   background-color: green;
}
#blue {
   background-color: blue;
}
#light {
   background-color: white;
}
